.page-header {
    background: color(gray, base);
    color: black;
    border-bottom: 2px solid;
    border-color: color(primary, base); 
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #787cb4;} /* Dark Grey */
.c {width: 60%; background-color: #9b4f97;} /* Dark Grey */
.angular {width: 60%; background-color: #c4002b;} /* Dark Grey */


